[submodule "tf-pose/tf-pose-estimation"]
	path = tf-pose/tf-pose-estimation
	url = https://github.com/ildoonet/tf-pose-estimation.git
[submodule "openpose"]
	path = openpose
	url = https://github.com/Kanazawanaoaki/openpose.git
